*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    background-color: #0b0b0e;
    color: #fff;
    margin: 0;
    padding: 20px 40px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    font-size: 24px;
    text-align: center;
    margin: 0 0 18px;
}

.logo span {
    color: #0882ff;
}

.content {
    flex-grow: 1;
}

textarea {
    width: 100%;
    height: 400px;
    border-radius: 26px;
    padding: 30px;
    font-family: inherit;
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 5 px #fff;
}

.page__wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 44px;
    align-items: start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
    border-radius: 30px;
    font-size: 24px;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background-color: #0882ff;
    border: 2px solid #0882ff;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 5 px #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.errors-list > li {
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
}

.errors-list > li:first-of-type {
    margin-top: 0;
}

.errors-list > li.info::before {
    content: '';
    background-image: url(../images/ui/info-icon.svg);
    width: 30px;
    height: 30px;
    position: absolute;
    left: -40px;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info {
    display: block;
    padding-top: 5px;
}

.errors-list li ul {
    margin-top: 20px;
    line-height: 50px;
}

.error-image {
    width: 100%;
    display: block;
    border: 1px solid #fff;
    border-radius: 26px;
    margin-top: 20px;
}

.code {
    font-family: monospace;
    padding: 5px;
    border: 1px solid #fff;
}

.footer {
    font-size: 14px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    opacity: 0.8;
}
